.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos-div {
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr;
    width: 80%;
    height: 100%;
}

hr.vertical-line {
    border: 1px solid #818181;
    transform: rotate(90deg);
    margin: auto;
    padding: 0;
    width: 400%;
    position: relative;
    right: 140%;
}