.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

hr.vertical-line {
    position: relative;
    left: 12%;
    box-shadow: none;
    border: 1px solid #818181;
}

.vertical-line {
    transform: rotate(90deg);
}