.statusP {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 400px;
  width: 90%;
}

.statusP h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.statusP p {
  font-size: 16px;
  color: #555;
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;  
}

.header.hidden {
  transform: translateY(-100%);
}

.header .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .titles h1 {
  font-family: 'Raleway', Times, serif;
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
  color: #551212;
}

.header .titles h2 {
  font-family: 'Raleway', Times, serif;
  font-weight: 400;
  font-size: 1.8em;
  margin: 0;
  color: #a87806;
}

.FootPag {
  position: absolute;
  width: 100%;
  bottom: 0;
}